{% extends 'layouts.default' %}

{% block content %}

<section class="content-header">
	<h1>
		Sửa tài xế
	</h1>
	<ol class="breadcrumb">
		<li>
            {{ linkToAction('HomeController.index', 'Bảng điều khiển') }}
        </li>
        <li>
            {{ linkToAction('DriverController.index', 'Tài xế') }}
        </li>
		<li class="active">
            Sửa tài xế #{{ driver.id }}
        </li>
	</ol>
</section>

<section class="content">
    {{ form.open({ action: 'DriverController.update', params: { id: driver.id } ,class: 'row' }) }}
        {{ csrfField }}
        <div class="col-md-5">
            <div class="box">
                <div class="box-header with-border">
                    <div class="box-title">Thông tin tài xế</div>
                </div>
                <div class="box-body">
                    <div class="form-group {{ 'has-error' if (_.find(old('errors'), { field: 'last_name' }) or _.find(old('errors'), { field: 'first_name' })) else '' }}">
                        {{ form.label('fullname', 'Họ & Tên') }}
                        <div class="row">
                            <div class="col-xs-6">
                                {{ form.text('last_name', driver.last_name, { class: 'form-control', 'placeholder': 'Họ và tên đệm' }) }}
                                <span class="help-block">{{ _.find(old('errors'), { field: 'last_name' }).message }}</span>
                            </div>
                            <div class="col-xs-6">
                                {{ form.text('first_name', driver.first_name, { class: 'form-control', placeholder: 'Tên' }) }}
                                <span class="help-block">{{ _.find(old('errors'), { field: 'first_name' }).message }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group {{ 'has-error' if (_.find(old('errors'), { field: 'birthday' })) else '' }}">
                        {{ form.label('birthday', 'Ngày sinh') }}
                        {{ form.date('birthday', driver.birthday, { class: 'form-control' }) }}
                        <span class="help-block">{{ _.find(old('errors'), { field: 'birthday' }).message }}</span>
                    </div>
                    <div class="form-group {{ 'has-error' if (_.find(old('errors'), { field: 'address' })) else '' }}">
                        {{ form.label('address', 'Địa chỉ') }}
                        {{ form.textarea('address', driver.address, { class: 'form-control' }) }}
                        <span class="help-block">{{ _.find(old('errors'), { field: 'address' }).message }}</span>
                    </div>
                    <div class="form-group {{ 'has-error' if (_.find(old('errors'), { field: 'identification' })) else '' }}">
                        {{ form.label('identification', 'Chứng minh thư (CMND)') }}
                        {{ form.text('identification', driver.identification, { class: 'form-control' }) }}
                        <span class="help-block">{{ _.find(old('errors'), { field: 'identification' }).message }}</span>
                    </div>
                    <div class="form-group {{ 'has-error' if (_.find(old('errors'), { field: 'weight_id' })) else '' }}">
                        {{ form.label('weight_id', 'Trọng tải') }}
                        {{ form.select('weight_id', Helpers.obj2select(weights, 'weight'), _.toString(driver.weight_id), 'Chọn trọng tải', { class: 'form-control select2' }) }}
                        <span class="help-block" style="margin-bottom: 0;">{{ _.find(old('errors'), { field: 'weight_id' }).message }}</span>
                    </div>
                    <div class="form-group {{ 'has-error' if (_.find(old('errors'), { field: 'driving_license' })) else '' }}">
                        {{ form.label('driving_license', 'Giấy phép lái xe') }}
                        {{ form.text('driving_license', driver.driving_license, { class: 'form-control' }) }}
                        <span class="help-block">{{ _.find(old('errors'), { field: 'driving_license' }).message }}</span>
                    </div>
                    <div class="form-group no-margin {{ 'has-error' if (_.find(old('errors'), { field: 'license_plate' })) else '' }}">
                        {{ form.label('license_plate', 'Biển kiểm soát') }}
                        {{ form.text('license_plate', driver.license_plate, { class: 'form-control' }) }}
                        <span class="help-block">{{ _.find(old('errors'), { field: 'license_plate' }).message }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="box">
                <div class="box-header with-border">
                    <div class="box-title">Thông tin đăng nhập</div>
                </div>
                <div class="box-body">
                    <div class="help-block">
                        <i class="fa fa-exclamation-triangle"></i>
                        Thông tin dùng để <b>đăng nhập</b> vào hệ thống.
                    </div>
                    <div class="form-group {{ 'has-error' if (_.find(old('errors'), { field: 'phone' })) else '' }}">
                        {{ form.label('phone', 'Số diện thoại') }}
                        {{ form.text('phone', driver.phone, { class: 'form-control', disabled: true }) }}
                        <span class="help-block">{{ _.find(old('errors'), { field: 'phone' }).message }}</span>
                    </div>
                    <hr style="margin: 10px 0;" />
                    <div class="help-block">
                        <i class="fa fa-key"></i>
                        Nhập nếu muốn đổi mật khẩu. Giữ nguyên nếu không muốn.
                    </div>
                    <div class="form-group no-margin {{ 'has-error' if (_.find(old('errors'), { field: 'newpassword' })) else '' }}">
                        {{ form.label('newpassword', 'Mật khẩu') }}
                        {{ form.password('newpassword', null, { class: 'form-control' }) }}
                        <span class="help-block">{{ _.find(old('errors'), { field: 'newpassword' }).message }}</span>
                    </div>
                </div>
                <div class="box-footer">
                    {{ form.resetButton('Làm lại', null, { class: 'btn btn-flat btn-default' }) }}
                    {{ form.submit('Xác nhận', 'create', { class: 'btn btn-flat btn-primary pull-right' }) }}
                </div>
            </div>
        </div>
    {{ form.close() }}
</section>

{% endblock %}